<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <uses-permission android:name="io.github.jd1378.otphelper.permission.RECEIVE_CODE" />

  <permission
      android:name="io.github.jd1378.otphelper.permission.RECEIVE_CODE"
      android:protectionLevel="signature" />

  <application
      android:name=".App"
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/Theme.OtpHelper"
      tools:targetApi="31">
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.OtpHelper">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
        android:name=".NotificationListener"
        android:exported="false"
        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
    </service>

    <service
        android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
        android:enabled="false"
        android:exported="false">
      <meta-data
          android:name="autoStoreLocales"
          android:value="true" />
    </service>

    <receiver
        android:name=".CodeDetectedReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="io.github.jd1378.otphelper.code_detected" />
      </intent-filter>
    </receiver>
    <receiver
        android:name=".NotifActionReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="io.github.jd1378.otphelper.actions.code_copy" />
        <action android:name="io.github.jd1378.otphelper.actions.ignore_notif" />
      </intent-filter>
    </receiver>
    <receiver
        android:name=".BootReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>

</manifest>
